# 虚拟环境
venv/

# Python 缓存和编译文件
__pycache__/
*.pyc
*.pyo
*.pyd

# BERT模型
BERT_app/local_codebert/
BERT_app/local_sbert/

# 日志文件
logs/errors.log

# PyCharm 配置文件
.idea/

# 忽略每个APP下的migrations目录
**/migrations/

# Django 特定文件
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env

# 静态文件
staticfiles/
media/

# 本地配置文件
local_settings.py