{% extends 'admin_base.html' %}
{% load static %}

{% block title %}年级考试{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/firstPage.css' %}">    
{% endblock %}

{% block content %}
<!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row d-flex" id="proBanner">
                    <div class="col-md-12 grid-margin">
                        <div class="card bg-gradient-primary border-0">
                            <div class="card-body py-3 px-4 d-flex align-items-center justify-content-between flex-wrap">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">考试列表</p>
                            <div class="table-responsive"
                                 style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
                                <div id="recent-purchases-listing_wrapper"
                                     class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6"></div>
                                        <div class="col-sm-12 col-md-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table dataTable no-footer" role="grid">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                        style="width: 167.95px;">题目
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 155.6px;">开始时间
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">截止时间
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">发布人
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">操作
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for exam in exams %}
                                                    <tr role="row"
                                                        class="{{ forloop.counter|divisibleby:2|yesno:'even,odd' }}">
                                                        <td class="sorting_1"
                                                            id="question{{ question.id }}"> {{ exam.title }}
                                                        </td>
                                                        <td>{{ exam.starttime }}</td>
                                                        <td>{{ exam.deadline }}</td>
                                                        <td>{{ exam.teacher.name }}</td>
                                                        <td>
                                                            <button class="button-class delete-exam btn-default"
                                                                    data-exam-id="{{ exam.id }}">删除
                                                            </button>
                                                            <button class="button-class edit-exam btn-default"
                                                                    data-exam-id="{{ exam.id }}">编辑
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="6" style="text-align: center;">没有考试内容</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5"></div>
                                <div class="col-sm-12 col-md-7">
                                    <button onclick="window.location.href='{% url 'administrator_app:admin_examlist_default' %}'"
                                            class="btn-default" style="float: right;">发布考试
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('.delete-exam').on('click', function () {
            var examId = $(this).data('exam-id');
            $.ajax({
                url: "{% url 'administrator_app:adminexam_delete' %}",
                type: 'POST',
                data: {
                    'exam_id': examId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    window.location.reload()
                },
                error: function (response) {
                    alert(response.responseJSON.message);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.edit-exam').on('click', function () {
            var examId = $(this).data('exam-id');
            window.location.href = "{% url 'administrator_app:adminexam_edit' '123' %}".replace('123', examId);
        });
    });
</script>    
{% endblock %}
