{% extends 'admin_base.html' %}
{% load static %}

{% block title %}导入查重数据{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/secondPage.css' %}">    
<style>
        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: inline-block;
            margin-bottom: 5px;
            font-weight: 700;
        }

        input[type="text"],
        input[type="password"],
        input[type="file"] {
            display: block;
            width: 100%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        input[type="file"] {
            height: auto;
        }

        .btn-default {
            background-color: #ffffff; 
            color: #333333; 
            border: 1px solid #cccccc; 
            padding: 10px 20px; 
            font-size: 16px; 
            border-radius: 5px; 
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
            transition: all 0.3s; 
        }

        .btn-default:hover, .btn-default:focus {
            border-color: #66afe9; 
            outline: none; 
            box-shadow: 0 0 8px rgba(102, 175, 233, 0.6); 
        }

        .form-control-file {
            border: none !important;
            box-shadow: none !important;
        }

        .main-panel {
            background: #fff;
            padding: 20px;
        }
</style>    
{% endblock %}

{% block content %}
<!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                 <div class="col-md-12 stretch-card">
                    <div class="card">
                                <div class="card">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="programmingexercise_id" value="{{ programming_exercise.id }}">
                    <div class="form-group">
                        <label for="tips">注意事项：</label>
                        <input type="text" class="form-control" id="textInput" name="textInput"
                               value="目前支持的代码语言：Python、Java、JavaScript、PHP、Ruby、Go，使用其他语言会影响代码重复度的计算，谨慎使用"
                               readonly/>
                    </div>
                    <div class="form-group">
                        <label for="excelFileInput">上传GUI报告文件（Word文件）:</label>
                        <input type="file" class="form-control-file" id="wordFileInput" name="wordFile"
                               accept=".doc,.docx" required>
                    </div>
                    <div class="form-group">
                        <label for="excelFileInput">上传GUI代码文件（将所有源代码放入文本文档，以.txt格式提交）:</label>
                        <input type="file" class="form-control-file" id="txtFileInput" name="txtFile" accept=".txt"
                               required>
                    </div>
                    <button type="submit" class="btn btn-default">提交</button>
                </form>
                                </div>
                    </div>
                 </div>
            </div>
        </div>    
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $("form").on('submit', function (event) {
            event.preventDefault();
            var form_data = new FormData(this);
            $.ajax({
                url: '{% url 'administrator_app:report_administrator' %}',
                type: 'POST',
                data: form_data,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert(response.message);
                    window.location.href = "{% url 'administrator_app:problems_administrator' %}";
                },
                error: function (response) {
                    alert(response.responseJSON.message);
                }
            });
        });
    });
</script>    
{% endblock %}
