.btn-default {
    background-color: #483D8B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem; /* 与输入框保持一致的间距 */
    margin-left: auto; /* 将按钮向右对齐 */
    display: inline-block; /* 使按钮成为内联块级元素，以便自动适应内容 */
    white-space: nowrap; /* 防止文字换行 */
}

.btn-default:hover {
    background-color: #8470FF;
}