.btn-default {
    background-color:#483D8B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem; /* 与输入框保持一致的间距 */
    display: block; /* 使按钮成为块级元素，以便margin-left生效 */
    width: 20px; /* 固定按钮宽度，您可以根据需要调整这个值 */
}

.btn-default:hover {
    background-color: #8470FF;
}