{% extends 'teacher_base.html' %}
{% load static %}

{% block title %}我的题库{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/secondPage.css' %}">
{% endblock %}

{% block content %}
<!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">考试题列表</p>
                            <div class="table-responsive"
                                 style="max-height: 568px; overflow-y: auto; overflow-x: hidden;">
                                <!-- 添加了 style 属性 -->
                                <div id="recent-purchases-listing_wrapper"
                                     class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6"></div>
                                        <div class="col-sm-12 col-md-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="recent-purchases-listing" class="table dataTable no-footer"
                                                   role="grid">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                        style="width: 167.95px;">题目
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 155.6px;">内存限制
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">时间限制
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">测试用例
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">操作
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for question in exam.questions.all %}
                                                    <tr role="row"
                                                        class="{{ forloop.counter|divisibleby:2|yesno:'even,odd' }}">
                                                        <td class="sorting_1"
                                                            id="question{{ question.id }}"> {{ question.title }}
                                                        </td>
                                                        <td>{{ question.memory_limit }}</td>
                                                        <td>{{ question.time_limit }}</td>
                                                        <td>
                                                            <button class="button-class view-test-case btn-default"
                                                                    data-question-id="{{ question.id }}">查看
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button class="button-class edit-test-case btn-default"
                                                                    data-question-id="{{ question.id }}"
                                                                    data-exam-id="{{ exam.id }}">修改
                                                            </button>
                                                            <button class="button-class delete-examquestion btn-default"
                                                                    data-examquestion-id="{{ question.id }}"
                                                                    data-exam-id="{{ exam.id }}">删除
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="5" style="text-align: center;">没有考试内容</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5"></div>
                                <div class="col-sm-12 col-md-7">
                                    <button onclick="window.location.href='{% url 'teacher_app:repository_teacher' %}'"
                                            class="btn-default" style="float: right;">返回
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- 模态框结构 -->
<div class="modal fade" id="testCaseModal" tabindex="-1" role="dialog" aria-labelledby="testCaseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="testCaseModalLabel">测试用例详情</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Input</th>
                            <th>Output</th>
                        </tr>
                    </thead>
                    <tbody id="testCaseTableBody">
                        <!-- 测试用例数据将被插入到这里 -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <!-- 下载按钮 -->
                <button id="downloadTestCases" class="btn btn-primary">下载 Excel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('.delete-examquestion').on('click', function () {
            var questionId = $(this).data('examquestion-id');
            var examId = $(this).data('exam-id');
            if (confirm('确定要删除这个考试题吗？')) {
                $.ajax({
                    url: "{% url 'teacher_app:examquestion_delete' %}",
                    type: 'POST',
                    data: {
                        'question_id': questionId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        window.location.href = "{% url 'teacher_app:exam_edit' exam_id='0' %}".replace('0', examId);
                    },
                    error: function (response) {
                        alert(response.responseJSON.message);
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.edit-test-case').on('click', function () {
            var questionId = $(this).data('question-id');
            window.location.href = "{% url 'teacher_app:examquestion_edit' question_id=0 %}".replace('0', questionId);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.view-test-case').on('click', function () {
            var questionId = $(this).data('question-id');
            $.ajax({
                url: "{% url 'teacher_app:get_exam_cases' question_id=0 %}".replace('0', questionId),
                type: 'GET',
                success: function (response) {
                    if (response.status === "success") {
                        var testCases = response.test_cases;
                        var tableBody = $('#testCaseTableBody');
                        tableBody.empty();  // 清空表格内容

                        // 将测试用例填充到模态框表格中
                        testCases.forEach(function (testCase) {
                            var row = '<tr><td>' + testCase.input + '</td><td>' + testCase.expected_output + '</td></tr>';
                            tableBody.append(row);
                        });

                        // 显示模态框
                        $('#testCaseModal').modal('show');
                        // 设置下载按钮的 URL
                        $('#downloadTestCases').off('click').on('click', function () {
                            window.location.href = "{% url 'teacher_app:get_exam_cases' question_id=0 %}?download=true".replace('0', questionId);
                        });
                    } else {
                        alert('无法获取测试用例，请重试。');
                    }
                },
                error: function () {
                    alert('请求失败，请重试。');
                }
            });
        });
    });
</script>
{% endblock %}
