{% extends 'teacher_base.html' %}

{% block title %}我的题库{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">练习题列表</p>
                            <div class="table-responsive"
                                 style="max-height: 568px; overflow-y: auto; overflow-x: hidden;">
                                <!-- 添加了 style 属性 -->
                                <div id="recent-purchases-listing_wrapper"
                                     class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6"></div>
                                        <div class="col-sm-12 col-md-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="recent-purchases-listing" class="table dataTable no-footer"
                                                   role="grid">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                        style="width: 167.95px;">题目
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 155.6px;">内存限制
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">时间限制
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">操作
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for question in exercise.questions.all %}
                                                    <tr role="row"
                                                        class="{{ forloop.counter|divisibleby:2|yesno:'even,odd' }}">
                                                        <td class="sorting_1"
                                                            id="question{{ question.id }}"> {{ question.title }}
                                                        </td>
                                                        <td>{{ question.memory_limit }}</td>
                                                        <td>{{ question.time_limit }}</td>
                                                        <td>
                                                            <button class="button-class delete-exercisequestion btn-default"
                                                                    data-exercisequestion-id="{{ question.id }}"
                                                                    data-exercise-id="{{ exercise.id }}">删除
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="4" style="text-align: center;">没有练习内容</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5"></div>
                                <div class="col-sm-12 col-md-7">
                                    <button onclick="window.location.href='{% url 'teacher_app:repository_teacher' %}'"
                                            class="btn-default" style="float: right;">返回
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('.delete-exercisequestion').on('click', function () {
            var questionId = $(this).data('exercisequestion-id');
            var exerciseId = $(this).data('exercise-id');
            $.ajax({
                url: "{% url 'teacher_app:exercisequestion_delete' %}",
                type: 'POST',
                data: {
                    'question_id': questionId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    window.location.href = "{% url 'teacher_app:exercise_edit' exercise_id='123' %}".replace('123', exerciseId);
                },
                error: function (response) {
                    alert(response.responseJSON.message);
                }
            });
        });
    });
</script>
{% endblock %}
