{% extends 'teacher_base.html' %}
{% load static %}

{% block title %}教师主页{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/firstPage.css' %}">
<style>
        .title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
</style>
{% endblock %}

{% block content %}
<!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="mr-md-3 mr-xl-5">
                                    <h2>Welcome to C++ Easy</h2>
                                    <p class="mb-md-0">C++程序设计教学平台</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex" id="proBanner">
                    <div class="col-md-12 grid-margin">
                        <div class="card bg-gradient-primary border-0">
                            <div class="card-body py-3 px-4 d-flex align-items-center justify-content-between flex-wrap">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="title-container">
                                <p class="card-title">程序设计题目列表</p>
                                <a href="{% url 'teacher_app:standard_report' %}">
                                    <button class="btn-default">报告规范性设置</button>
                                </a>
                            </div>
                            <div class="table-responsive"
                                 style="max-height: 514px; overflow-y: auto; overflow-x: hidden;">
                                <!-- 添加了 style 属性 -->
                                <div id="recent-purchases-listing_wrapper"
                                     class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6"></div>
                                        <div class="col-sm-12 col-md-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table dataTable no-footer" role="grid">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                        style="width: 167.95px;">题目
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="exam-listing"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 155.6px;">发布时间
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 155.6px;">发布教师
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 155.6px;">截止时间
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">操作
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for exercise in programing_exercises %}
                                                    <tr role="row"
                                                        class="{{ forloop.counter|divisibleby:2|yesno:'even,odd' }}">
                                                        <td class="sorting_1">{{ exercise.title }}</td>
                                                        <td>{{ exercise.date_posted }}</td>
                                                        <td>{{ exercise.posted_by.name }}</td>
                                                        <td>{{ exercise.deadline }}</td>
                                                        <td>
                                                            <button class="button-class doing-exercise btn-default"
                                                                    data-exercise-id="{{ exercise.id }}">程序设计报告详情
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="5" style="text-align: center;">暂无题目</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('.doing-exercise').on('click', function () {
            var exerciseId = $(this).data('exercise-id');
            window.location.href = "{% url 'teacher_app:repeat_report' '123' %}".replace('123', exerciseId);
        });
    });
</script>
{% endblock %}
