{% extends 'teacher_base.html' %}
{% load static %}

{% block title %}我的题库{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/firstPage.css' %}">
{% endblock %}

{% block content %}
<!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">练习列表</p>
                            <div class="table-responsive"
                                 style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
                                <!-- 添加了 style 属性 -->
                                <div id="recent-purchases-listing_wrapper"
                                     class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6"></div>
                                        <div class="col-sm-12 col-md-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table dataTable no-footer" role="grid">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                        style="width: 167.95px;">题目
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 155.6px;">发布时间
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">截止时间
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">发布人
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">接收班级
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">操作
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for exercise in exercises %}
                                                    <tr role="row"
                                                        class="{{ forloop.counter|divisibleby:2|yesno:'even,odd' }}">
                                                        <td class="sorting_1"
                                                            id="question{{ question.id }}"> {{ exercise.title }}
                                                        </td>
                                                        <td>{{ exercise.published_at }}</td>
                                                        <td>{{ exercise.deadline }}</td>
                                                        <td>{{ exercise.teacher.name }}</td>
                                                        <td>
                                                            {% for class in exercise.classes.all %}
                                                                {{ class.name }}{% if not forloop.last %}, {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                        <td>
                                                            <button class="button-class delete-exercise btn-default"
                                                                    data-exercise-id="{{ exercise.id }}">删除
                                                            </button>
                                                            <button class="button-class edit-exercise btn-default"
                                                                    data-exercise-id="{{ exercise.id }}">编辑
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="6" style="text-align: center;">没有练习内容</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5"></div>
                                <div class="col-sm-12 col-md-7">
                                    <button onclick="window.location.href='{% url 'teacher_app:exercise_list_default' %}'"
                                            class="btn-default" style="float: right;">发布练习
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">考试列表</p>
                            <div class="table-responsive"
                                 style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
                                <div id="recent-purchases-listing_wrapper"
                                     class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6"></div>
                                        <div class="col-sm-12 col-md-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table dataTable no-footer" role="grid">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                        style="width: 167.95px;">题目
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 155.6px;">发布时间
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">截止时间
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">发布人
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">接收班级
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="recent-purchases-listing" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 72.575px;">操作
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for exam in exams %}
                                                    <tr role="row"
                                                        class="{{ forloop.counter|divisibleby:2|yesno:'even,odd' }}">
                                                        <td class="sorting_1"
                                                            id="question{{ question.id }}"> {{ exam.title }}
                                                        </td>
                                                        <td>{{ exam.starttime }}</td>
                                                        <td>{{ exam.deadline }}</td>
                                                        <td>{{ exam.teacher.name }}</td>
                                                        <td>
                                                            {% for class in exam.classes.all %}
                                                                {{ class.name }}{% if not forloop.last %}, {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                        <td>
                                                            <button class="button-class delete-exam btn-default"
                                                                    data-exam-id="{{ exam.id }}">删除
                                                            </button>
                                                            <button class="button-class edit-exam btn-default"
                                                                    data-exam-id="{{ exam.id }}">编辑
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="6" style="text-align: center;">没有考试内容</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5"></div>
                                <div class="col-sm-12 col-md-7">
                                    <button onclick="window.location.href='{% url 'teacher_app:exam_list_default' %}'"
                                            class="btn-default" style="float: right;">发布考试
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('.delete-exercise').on('click', function () {
            var exerciseId = $(this).data('exercise-id');
            if (confirm('确定要删除这个练习吗？')) {
                $.ajax({
                    url: "{% url 'teacher_app:exercise_delete' %}",
                    type: 'POST',
                    data: {
                        'exercise_id': exerciseId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        window.location.reload()
                    },
                    error: function (response) {
                        alert(response.responseJSON.message);
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.edit-exercise').on('click', function () {
            var exerciseId = $(this).data('exercise-id');
            window.location.href = "{% url 'teacher_app:exercise_edit' '123' %}".replace('123', exerciseId);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.delete-exam').on('click', function () {
            var examId = $(this).data('exam-id');
            if (confirm('确定要删除这个考试吗？')) {
                $.ajax({
                    url: "{% url 'teacher_app:exam_delete' %}",
                    type: 'POST',
                    data: {
                        'exam_id': examId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        window.location.reload()
                    },
                    error: function (response) {
                        alert(response.responseJSON.message);
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.edit-exam').on('click', function () {
            var examId = $(this).data('exam-id');
            window.location.href = "{% url 'teacher_app:exam_edit' '123' %}".replace('123', examId);
        });
    });
</script>
{% endblock %}
